.main-title{
    margin-top: 10px;
  }
  .images-item {
    width: 48%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-width: 120px;
  
    &:hover {
      opacity: 0.7;
    }
  }
  
  .images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
  
    &:hover {
      opacity: 0.7;
    }
  }
  
  .custom-item {
    border-bottom: 2px solid #f3f3f3;
  
    .custom-item-title {
      color: #666666;
      font-weight: 600;
    }
  
    .custom-item-body {
      padding: 10px 0;
    }
  }
  
  .max-height{
    overflow: auto;
    max-height: 300px;
  }
  
  .size-select{
    width: 100%;
    text-overflow: ellipsis;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: .4rem;
    color: #5a5a5a;
  }
  
  .btn-canvas-action{
    margin-right: 5px;
  }
  
  .btn-canvas-action:last-of-type{
    margin-right: 0;
  }
  
  .row.secondary-nav {
    margin-top: 10px;
  }
  
  .colorPicker {
    width: 45px;
    height: 45px;
    padding: 6px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
  }
  
  .colorPicker div {
    width: 31px;
    height: 32px;
  }
  
  .selected-color {
    border-color: #000;
  }
  
  #save-local {
    .form-control {
      margin-bottom: 10px;
    }
  }
  
  .canvas-list img {
    max-width: 100%;
    height: auto;
    border: 3px dotted #b0b0b0;
  }
  
  .body-img-lib{
    display: flex;
    flex-wrap: wrap;
  }
  
  // .canvas-img-lib{
  //   max-width: 30%;
  //   margin: 10px;
  // }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }


  .canvas-list.canvas-img-lib.grid-box-inner{
  margin: 10px;
  max-width: 100% !important;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
  position: relative;
  padding: 15px;
  margin: 0;
}
.card-body.body-img-lib.popup-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
}
.canvas-list.canvas-img-lib.grid-box-inner img{
    max-width: 100% !important;
}
.canvas-list.canvas-img-lib.grid-box-inner h4 {
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px 0 0;
  line-height: 26px;
}
.canvas-list.canvas-img-lib.grid-box-inner p {
    font-size: 16px;
    line-height: 24px;
}
.jw-modal-body {
    max-width: 800px !important; 
}


@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

@media (max-width:699px){
  .card-body.body-img-lib.popup-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}
}
@media (max-width:426px){
  .card-body.body-img-lib.popup-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 15px;
}
}

.card-body .canvas-list button.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ffc9c9;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #414141;
}

a.add-image-button.list-group-item.list-group-item-action.bg-dark {
  border-radius: 0px;
  margin-right: 11px !important;
  float: right;
  border: none;
  margin-top: 3px;
  width: auto;
  text-align: center;
  background-color: #78C2AD !important;
  color: #000000;
  padding: 8px;
}

.shape-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  flex-wrap: wrap;
}

.shape-inner{
  text-align: center;
}

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.shape-rec{background-image:url(../../assets/img/Rectangle.png);}
.shape-sqr{background-image:url(../../assets/img/squre.png);}
.shape-sqr{background-image:url(../../assets/img/tirgle.png);}
.shape-sqr{background-image:url(../../assets/img/circle.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.max-600-custom{
  max-width: 600px !important;
}
.card-custom-body{
  padding: 0.5rem !important;
}
@media (max-width:426px){
  .title-product{ 
    font-size:15px;
  }
}